@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch|Monoton&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese");
html {
  scroll-behavior: smooth; }

body p, body li {
  font-family: 'Orbitron', sans-serif; }
body header {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 20em;
  padding: 1px; }
  body header h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em; }
  body header .contact {
    position: fixed;
    z-index: 80; }
    body header .contact #mydiv {
      position: absolute;
      z-index: 9;
      width: 205px;
      background-color: rgba(57, 133, 207, 0.6);
      border: 1px solid #d3d3d3;
      text-align: center;
      color: #fff;
      animation: light 5s infinite;
      font-family: 'Orbitron', sans-serif;
      font-weight: bold; }
      body header .contact #mydiv li {
        list-style-type: none;
        margin-left: -33px;
        padding: 10px;
        font-weight: normal; }
      body header .contact #mydiv #mydivheader {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: rgba(57, 133, 207, 0.6);
        color: #fff; }
@keyframes light {
  0% {
    box-shadow: 0px 0px 0px 0px blue; }
  50% {
    box-shadow: 0px 0px 30px 10px #88b6e2; }
  100% {
    box-shadow: 0px 0px 0px 0px blue; } }
body #navbar {
  width: 100%;
  height: 100px;
  background-color: rgba(57, 133, 207, 0.6);
  transition: all 0.3s ease; }
  body #navbar #menu-center {
    margin: 0 auto; }
    body #navbar #menu-center ul {
      margin: 15px 0 0 0; }
      body #navbar #menu-center ul li {
        list-style: none;
        margin: 0 30px 0 0;
        display: inline; }
  body #navbar .active {
    font-size: 14px;
    color: #fff;
    border: 2px solid white;
    border-radius: 10px;
    border-bottom: 0px;
    padding: 10px;
    box-shadow: 2px -2px 5px; }
  body #navbar a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 50px; }
body .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }
body section h3 {
  font-family: 'Titillium Web', sans-serif; }
body section h2 {
  font-family: 'Righteous', cursive; }
body section #skills .Title button {
  border-radius: 50%;
  border: 0px;
  background-color: #88b6e2;
  animation: light 5s infinite;
  cursor: pointer; }
@keyframes light {
  0% {
    box-shadow: 0px 0px 0px 0px blue; }
  50% {
    box-shadow: 0px 0px 30px 10px #88b6e2; }
  100% {
    box-shadow: 0px 0px 0px 0px blue; } }
body section #skills #hide {
  padding: 16px;
  margin-bottom: 10px;
  opacity: 0;
  transform: scale(0);
  transition: .6s ease opacity,.6s ease transform; }
body section #skills .myProgress {
  width: 100%;
  background-color: rgba(57, 133, 207, 0.6); }
  body section #skills .myProgress .level {
    background: linear-gradient(#88b6e2, #bb34bd);
    width: 0%;
    height: 30px; }
body section .education .bufferzone {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 200px; }
body section .education #education .subDetails {
  font-weight: bold; }
body section #hobbies .line {
  border: 2px solid black; }
body section .projects .outdoor a {
  text-decoration: none; }
  body section .projects .outdoor a h5 {
    font-family: 'Monoton', cursive;
    text-shadow: 2px 2px 1px #000000b5;
    color: #ffffff45;
    font-size: 30px;
    background-image: url(../images/mountain1.jpg);
    width: 300px; }
body section .carousel-container {
  max-width: 1510px; }
  body section .carousel-container .carousel {
    background-color: #88b6e2;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%; }
    body section .carousel-container .carousel::before, body section .carousel-container .carousel::after {
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
      content: "";
      height: 200px;
      position: absolute;
      width: 200px;
      z-index: 2; }
    body section .carousel-container .carousel::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg); }
    body section .carousel-container .carousel::before {
      left: 0;
      top: 0; }
    body section .carousel-container .carousel .slide-track {
      animation: scroll 40s linear infinite;
      display: flex;
      width: calc(350px * 8); }
@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-350px * 4)); } }
    body section .carousel-container .carousel .slide {
      height: 200px;
      width: 350px; }

@media only screen and (min-width: 800px) {
  body header {
    height: 40em; }
    body header h1 {
      text-align: center;
      padding: 5em;
      font-size: 3em; }
    body header .contact {
      margin-left: 81%;
      margin-top: -136px; }
  body #navbar {
    height: 75px; }
  body section #about {
    width: 50%;
    margin: 0 auto; }
  body section #skills .Title {
    margin: 0 auto;
    text-align: center; }
  body section .education #education {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header header' 'section1 section2'; }
    body section .education #education .Title {
      grid-area: header; }
    body section .education #education #tertiary {
      grid-area: section1; }
    body section .education #education #secondary {
      grid-area: section2; }
  body section #hobbies {
    width: 50%;
    margin: 40px auto; }
  body section .projects {
    display: grid;
    grid-template-areas: 'header header' 'section1 section2';
    width: 50%;
    margin: 0 auto; }
    body section .projects h2 {
      grid-area: header; }
    body section .projects .outdoor {
      grid-area: section1; }
      body section .projects .outdoor h5 {
        margin-top: 6px; }
    body section .projects .code4 {
      grid-area: section2; } }

/*# sourceMappingURL=style.css.map */
