// Colours
$coral: #ff7f50;
$darkJungleGreen: #001514;
$white2: #fbfffe;
$bloodRed: #6b0504;
$chineseRed: #a3320b;
$goldenrod: #e6af2e;
$xandadua: #788475;

$blue-ish: #88b6e2;
$purple-ish: #bb34bd;
$semi-purple: rgba(187, 52, 189, 0.6);

$semi-blue: rgba(57, 133, 207, 0.6);
$semi-blueTwo: rgba(137, 178, 219, 0.6);
$semi-white: rgba(255, 255, 255, 0.6);


// fonts
$mainHeading: 'Special Elite', cursive;
